---
---

@import "{{ site.theme }}";

a:link {
  font-weight: bold;
  text-shadow: 0.6px 0px #000, 0px 0.6px #000, -0.6px 0px #000, 0px -0.6px #000, 0.6px 0.6px #000, 0.6px -0.6px #000, -0.6px -0.6px #000, -0.6px 0.6px #000;
}
