---
---

@import "{{ site.theme }}";

.project-tagline {
  font-size: 1.8rem;
}

a:link {
  font-weight: bold;
  text-shadow: 1.6px 0px #fff, 0px 1.6px #fff, -1.6px 0px #fff, 0px -1.6px #fff, 1.6px 1.6px #fff, 1.6px -1.6px #fff, -1.6px -1.6px #fff, -1.6px 1.6px #fff;
}
